.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(77, 70, 70);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgba(255, 238, 0, 0.692);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }


#videoCar {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

a:hover {
  background-color: yellow;
}


.container {
    height: 100px;
    width: 500px;
    position: relative;
    
    margin: 50px 0 0 680px;
  }
  .btn {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }